#current-weather {
    color:black;
    font-size: 12px;
}

.jumbotron {
    background-color: #fff5d7; 
  
}

ul {
    list-style-type: none;
}

.hide {
    display: none;
}

.card {
    background-color: #ebf6f5;
}

.date {
    font-weight: bold;
}

.icon {
    max-width: 25%;
    height: auto;
}

.favorable {
    background-color: green;
}

.moderate {
    background-color: yellow;
}

.severe {
     background-color: red;
}


