#current-weather {
    color:black;
    font-size: 12px;
}

.jumbotron {
    background-image: url("Assets/kisspng-elk-grove-village-skyline-chicago-loop-clip-art-5af80516b5fa42.2782947215262036707454.png"); 
    background-size: cover;
}